<div class="container mt-4">
    <h3>Dodaj nowy post</h3>
    <form (ngSubmit)="addPost(postForm)" #postForm="ngForm" class="needs-validations">

        <div class="mb-3">
            <label for="title" class="form-label">Tytuł</label>
            <input type="text" class="form-control" [(ngModel)]="title" name="title" required />
            <div *ngIf="postForm.submitted && !title" class="text-danger">
                Tytuł jest wymagany.
            </div>
        </div>

        <div class="mb-3">
            <label for="text" class="form-label">Treść</label>
            <textarea class="form-control" [(ngModel)]="text" name="text" rows="5" required></textarea>
            <div *ngIf="postForm.submitted && !text" class="text-danger">
              Treść jest wymagana.
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">URL obrazu</label>
            <input type="url" class="form-control" [(ngModel)]="image" name="image" />
        </div>

        <button type="submit" class="btn btn-primary">Dodaj post</button>
    </form>
</div>