<button (click)="refreshPosts()" class="btn btn-primary" style="display: block; margin: 5em auto; width: 20%;;">Odśwież posty</button>
<button (click)="randomPost()" class="btn btn-primary" style="display: block; margin: 5em auto; width: 20%;;">Wylosuj post</button>

@if ((items$ | filter:filterText).length === 0 ) {
    <div>
        <p>Brak wyników spełniających kryteria wyszukiwania.</p>
    </div>
}

@for (item of items$ | filter:filterText; track item) {
    <app-blog-item [image]="item.image" [text]="item.text" [id]="item._id">
    </app-blog-item>
}

<app-gallery></app-gallery>
